	/*Modals*/

	.yj-modal {
		max-width: 500px;

		&.yj-modal-max-height {
			top: 5%;
			max-height: 90%;
		}

		.exit {
			margin-bottom: 1rem;

			.col {
				padding: 0;
			}

			p {
				margin: 0;
			}

			a {
				color: $yj-grey;
				@include transition(.2s);

				&:hover {
					color: $primary-color;
					@include transition(.2s);
				}
			}

			&.exit-border {
				margin-bottom: 2rem;
				background: $yj-light-grey;
				padding: 1rem 2rem;
			}
		}

		.modal-btns {

			a {
				margin-top: 0.5rem;
				text-align: left;
			}

			i {
				min-width: 30px;
			}

			span.copy-link {
				display: inline-block;
				min-width: 30px;
			}
		}

		.yj-modal-footer {

		}

		.modal-form {
			margin-top: 2rem;
			.col {
				padding-left: 1rem;

				&:first-child {
					padding-left: 0;
				}
			}

			.input-field {
				label {
					left: 0;
				}
			}
		}

		.p-terms {
			margin: 0;
		}

		.modal-content {
			h4 {

				&.modal-h4-fix {
					margin-bottom: 0.4rem;
				}
			}

			&.modal-content-alt {
				padding: 0;

				.col-modal-clean {
					padding: 0;

					.input-field-clean {
						padding: 0;
					}

					label {
						left: 0;
					}
				}

				.modal-message-wrapper {
					padding: 0 2rem 1.2rem 2rem;
				}
			}
		}

	}

	.modal-header {
		background: $primary-color;
		padding: 1rem;

		&.alt {
			margin-bottom: 2rem;
		}
	}

	.table-global-modal {
		max-width: 500px;

		h4 {
			margin-bottom: 2rem;
			font-weight: 200;

			&.alt {
				margin-bottom: 0;
			}
		}

		p.change-address-btn {
			margin-bottom: 2rem;
		}
	}

	.credit-amount {
		color: $primary-color;
		font-weight: 400;
		font-size: 1.2rem;
	}

	.modal-date-time-wrapper {
		margin-bottom: 2rem;
		border: 1px solid $yj-light-grey;
		padding: 1rem;
	}

	.modal-family {
		padding: 0 4rem!important;

		&:before {
			content: "";
			background: url(images/confetti.svg) no-repeat center center;
			background-size: cover;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.2;
		}

		&.modal-family-sad {

			&:before {
				content: "";
				background: url(images/sad-faces.svg) no-repeat center center;
				background-size: cover;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0.2;
			}
		}

		.mf-modal-header {
			margin-top: 5rem;
			margin-bottom: 2rem;;
			font-weight: 500;
			font-size: 3.2rem;
			color: $primary-color;
		}

		.mf-intro-text {
			margin: 0 0 2rem 0;

			&.intro-text-sad {
				// margin-bottom: 0rem;
			}
		}

		.mf-value {
			margin: 0 0 2rem 0;
			border: 1px solid $primary-color;
			padding: 20px;

			p {
				margin: 0;
				color: $primary-color;
				font-size: 1.8rem;

				span {
					font-weight: 500;
				}
			}
		}

		.mf-image {
			margin-bottom: 2rem;
			width: 100%;
			height: 150px;
			background: url(images/party.jpg) no-repeat center center;
			background-size: cover;

			&.mf-image-high-five {
				background: url(images/high-five.jpg) no-repeat center center;
				background-size: cover;
			}

			&.mf-image-hug {
				background: url(images/team-hug.jpg) no-repeat center center;
				background-size: cover;
			}
		}

		.get-yapping {
			margin-bottom: 3rem;
		}
	}