	/*Sections*/

	.jobs-near-you {

		// .yj-title-icon {
		// 	font-size: 32px;
		// 	margin-bottom: 40px;
		// 	color: $primary-color;
		// }
	}

	.job-cards {

		img {
			margin-bottom: 0;
		}
		
		.yj-card-title {
			top: 0;
			width: 100%;
			background-color: $yj-blue;
			// color: $yj-grey;
			opacity: 0.9;
			padding: 10px 15px!important;
			text-align: center;
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: 400;
		}

		.card {

			.yj-card-action {
				border-top: 1px solid $yj-light-grey;

				a {
					color: white;
					background-color: $primary-color;
					margin: 30px 0 30px 0;
				}
			}
		}

		.yj-card-content {

			span {
				color: $primary-color;
			}

			h5 {
				color: $yj-grey;
				font-weight: 300;
				margin-bottom: 30px;
			}

			p.location {
				color: $yj-blue;
				text-transform: uppercase;
				font-weight: 600;
			}

			ul {

				li {
					display: inline-block;
					margin-left: 25px;

					&:first-child {
						margin-left: 0;
					}

					span {
						font-size: 1.5rem;
					}
				}
			}

			.yj-filters {

				a {
					background-color: $yj-blue;
					font-size: 0.7rem;
					padding: 15px 10px;
					line-height: 0;
					height: 0;
				}
			}
		}
	}

	.page-btn {
		margin: 40px 0 60px 0;
	}

	.our-app {
		position: relative;
		background: url(images/our-app.jpg) no-repeat center center;
		background-size: cover;
		color: white;

		&:after {
			content: "";
			background-color: black;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.6;
		}

		.our-app-column {
			padding: 20px;
		}

		img.apple {
			margin-bottom: -6px;
		}

		.app-image-container {
			text-align: right;
			margin-bottom: 6rem;

			@media #{$small-and-down} {
				text-align: center;
				margin-bottom: 2rem;
			}

			img.app-image {
				// margin-bottom: 6rem;
				// -ms-transform: rotate(-9deg); /* IE 9 */
	   //  		-webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
	   //  		transform: rotate(-9deg);
			}
		}

		h5 {
			font-weight: 200;
			line-height: 2.5rem;
			color: white;
		}

		ul {
			margin-top: 40px;

			li {
				font-size: 1.5rem;

				span {
					color: $primary-color;
					margin-right: 20px;
					font-size: 32px;
				}
			}
		}

		.apple-download-btn {
			margin-top: 40px;

			img {
				margin-right: 15px;
			}
		}
	}

	.partners {

		p.partner-intro {
			font-weight: 200;
			font-size: 1.4rem;
			line-height: 2.2rem;

			&.alt {
				margin-top: 60px;
			}
		}

		.partner-logos {
			margin: 40px 0;

			img {
				max-width: 90px;
			}
		}
	}

	.ctc {
		margin-bottom: 60px;

		ul.ctc-list {

			li {
				display: inline-block;
				margin-left: 8px;

				&:first-child {
					margin-left: 0;
				}

				@media #{$small-and-down} {
					margin-top: 0.5rem;
					margin-left: 0;
				}
			}
		}
	}

	.footer-logo {
		margin-top: 15px;
	}

	.current-positions {
		margin-bottom: 5rem;
	}

	.results {
		margin-bottom: 5rem;
	}

	.how-it-works {
		background-color: $yj-light-grey;

		h5.how-it-works-h5 {
			margin-top: 2rem;
			font-weight: 300;
		}

		.step-wrapper	{
			background-color: white;
			padding: 2rem;
			border-bottom: 2px solid $yj-blue;

			@media #{$medium-and-down} {
				margin-top: 1.5rem;
			}
		}
	}

	.fourzerofour {
		margin: 2rem 0 4rem 0;
	}

	.yj-app-container {
		position: relative;
		z-index: 1;
	}