	/*Card*/

	.card-icon {
		padding: 20px 20px 0 20px;
	}

	.yj-card-header {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.yj-card-stats {
		p {
			font-size: 1.2rem;
		}
	}

	.stat-result {
		margin-top: 2rem!important;
		margin-bottom: 1.25rem!important;
		color: white!important;
		font-size: 3rem;
		font-weight: 500;
	}

	.yj-card-alt {
		background: $yj-blue;

		h5, p, span {
			color: white;
		}

		h5 {
			margin-top: 0;
			font-weight: 200;
		}
	}