	/*Typography*/
	p {
		font-weight: 300;
		line-height: 1.6rem;

		&.alt {
			font-weight: 400;
		}

		&.p-green {
			color: $primary-color;
		}

		&.p-no-marin-top {
			margin-top: 0;
		}
	}

	.yj-hero-title {
		margin: 20px 0 0 0;
		font-size: 6rem;
		font-weight: 600;
		color: white;
		line-height: 7rem;

		@media #{$small-and-down} {
			font-size: 3rem;
			line-height: 4rem;
		}
	}

	.yj-title {
		text-transform: uppercase;
		margin: 90px 0 0 0;
		font-weight: 300;
		color: $yj-grey;
		font-size: 2rem;

		&.alt {
			color: white;
		}

		&.yj-title-clean {
			margin-top: 0;
		}

		&.yj-title-adjust {
			margin-top: 2rem;
		}
	}

	.yj-title-icon {
		font-size: 32px;
		margin-bottom: 40px;
		color: $primary-color;

		&.alt {
			color: white;
		}

		&.no-space {
			margin-bottom: 0;
		}
	}

	.yj-page-title {
		font-weight: 300;
		color: $yj-grey;

		&.alt {
			font-weight: 200;
		}

		&.alt-margin {
			margin-top: 60px;
		}

		span {
			font-weight: 600;
			color: $primary-color;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}

		&.yj-page-title-green {
			color: $primary-color;
		}
	}

	.yj-sub-title {
		font-size: 1.2rem;
	}

	.description {
		text-transform: uppercase;
		font-size: 0.8rem;

		&.alt {
			margin-top: 0;
		}
	}

	.name {
		font-size: 1.3rem;

		&.alt {
			margin-bottom: 20px;
		}
	}

	.font-nice {
		font-weight: 300;
	}

	.employer-desc {
		color: white;
		font-size: 1.4rem;
		font-weight: 200;
	}

	.employer-place {
		font-weight: 400;
		color: white;
		margin-bottom: 0;
	}

	.location {
		color: $yj-blue;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0;
	}

	.section-title {
		font-size: 2rem;
		font-weight: 200;
	}

	.link-message {
		font-size: 1.2rem;
	}

	.p-highlight {
		color: $primary-color;
		font-weight: 400;
		font-size: 1.2rem;
	}

	.next-profile-desc {
		margin: 0;
		color: white;
		font-size: 0.8rem;
	}

	.applicants-current-job {

		span {
			font-weight: 400;
		}

		.job-green {
			// font-weight: 300;
			// color: $primary-color;
		}
	}

	.compatibility {
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 1px;
		color: white;
	}

	.compatibility-score {
		margin: 0;
		color: $primary-color;
		font-size: 1.4rem;
	}

	.rate-title {
		font-weight: 400;
		margin-bottom: 0;
	}

	.no-problem {
		margin-bottom: 1.4rem;
	}

	.address {
		margin: 0;

		&.address-last {
			margin-bottom: 1rem;
		}
	}

	.contact-title {
		color: $primary-color;
	}

	.contact-details-lrg {
		font-size: 1.2rem;
	}