	/*Nav*/

	.yj-nav {
		box-shadow: none;
		line-height: 0;
		background: transparent;
		border-bottom: 1px solid $yj-less-light-grey;

		a {
			color: $secondary-color;

			&.yj-nav-btn {
				color: white;
				margin: 30px 15px 0 15px;
				height: 40px;
				width: 140px;
				line-height: 2.8rem;

				&:hover {
					color: white;
				}

				&.yj-nav-btn-alt {
					margin: 12px 20px 0 0;
					min-width: 150px;
				}
			}
		}

		.close {

			&:hover {
				background: none;
			}

			i {
				line-height: inherit;
			}
		}

		.yj-icon-animate {

			&:hover {
				@include animation-name("nav-icon");
				@include animation(.3s);
			}
		}

		ul.social {
			margin-top: 30px;
			padding: 0 15px;
			
			li {
				padding: 0;
				float: left;
				margin-right: 20px;

				a {
					padding: 0;
				}
			}
		}

		// .yj-logo {
		// 	z-index: 1;
		// 	position: relative;
		// 	margin-top: 10px;
		// 	width: 80px;
		// 	height: 40px;
		// 	color: $primary-color;

		// 	@media #{$small-and-down} {
		// 		width: 70px;
		// 		height: 30px;
		// 	}
		// }
	}

	.yj-sidenav {
		li {
			
			&.li-push {
				margin-top: 4rem;

				@media #{$small-and-down} {
					margin-top: 0;
				}
			}

			&:hover {
				background: none;
			}

			a {
				@include transition(.2s);

				&:hover {
					color: $primary-color;
					@include transition(.2s);
				}

				&.yj-close {

					&:hover {
						color: $error-color;
					}
				}
			}
		}
	}

	.yj-logo {
		z-index: 1;
		position: relative;
		margin-top: 10px;
		width: 80px;
		height: 40px;
		color: $primary-color;

		@media #{$small-and-down} {
			width: 70px;
			height: 30px;
		}

		&.alt {
			width: 100px;
			height: 50px;
		}
	}

	.dashboard-nav {
		box-shadow: none;

		ul {

			li {

				a {
					font-weight: 300;
					text-transform: uppercase;
					font-size: 0.9rem;
					letter-spacing: 1px;

					span {
						font-size: 1.4rem;
						padding-top: 10px;
						// line-height: 4.1rem;

						&.alt {
							font-size: 1rem;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}