	/*Global*/

	body, h1, h2, h3, h4, h5 {
		color: $yj-grey;
	}

	.yj-breaker {
		margin: 30px 0;
		width: 100%;
		height: 1px;
		background-color: $yj-light-grey;

		&.alt {
			margin: 0;
		}

		&.breaker-white {
			background-color: white;
		}

		&.alt-dark {
			background-color: $yj-even-less-light-grey;
		}

		&.mobile-breaker {
			margin-bottom: 0;
		}
	}

	.row-clean {
		margin-bottom: 0;
	}

	.help-wrapper {
		padding: 0 1rem 1rem 1rem;

		h5 {
			margin-top: 0;
			font-weight: 300;

			@media #{$medium-and-down} {
				margin-top: 45px;
			}
		}
	}

	.yj-results-container, .yj-dashboard-container {
		width: 70%;

		@media screen and (max-width: 1440px) {
			width: 90%;
		}

		// @media #{$medium-and-down} {
		// 	width: 90%;
		// }
	}

	footer.yj-footer {
		margin-top: 0;
	}

	.row {
		.col-clean {
			padding-right: 0;

			&.alt {
				padding-left: 0;
			}
		}
	}

	a {
		color: $yj-blue;
	}

	.circle-img-max {
		max-width: 200px!important;
	}

	.yj-progress {
		margin: 1rem 0;
		background-color: $yj-less-light-grey;

		.yj-determinate {
			background-color: $primary-color;
		}
	}