	/*Lists*/

	ul.ctc-list-hero {
		li{
			display: inline-block;
			margin-left: 8px;

			&:first-child {
				margin-left: 0;
			}

			@media #{$small-and-down} {
				margin-top: 0.5rem;
				margin-left: 0;
			}
		}
	}

	ul.interests {

		li {
			background: $yj-blue;
			padding: 0.7rem;
			margin-bottom: 0.4rem;
			color: white;
			border-radius: 3px;
		}
	}

	ul.footer-social {
		margin-top: 1.4rem;

		li {
			display: inline-block;
			color: white;
			margin-right: 1rem;

			a {
				color: white;
				@include transition(.2s);

				&:hover {
					color: $primary-color;
					@include transition(.2s);
				}
			}
		}
	}

	ul.hero-download-btn-list {

		li {
			display: inline-block;
			margin-right: 8px;

			span.coming-soon {
				display: block;
				color: white;
				font-size: 0.8rem;
			}
		}
	}

	ul.table-actions {
		margin: 0;

		&.alt {
			margin-top: 0.5rem;
		}

		li {
			a {
				background: $yj-blue;
				padding: 0.5rem;
				color: white;
				border-radius: 3px;
			}
		}

		&.dib {
			display: inline-block;
			min-width: 90px;
		}
	}

	ul.yj-dropdown-content {
		min-width: 115px;
		border-radius: 3px;

		li {
			&.divider {
				background-color: lighten($yj-blue, 5%);
			}

			a {
				font-size: 1rem;
				border-radius: 0;
				@include transition(.2s);

				&:hover {
					background: darken($yj-blue, 5%);
					@include transition(.2s);
				}
			}
		}
	}

	ul.modal-btn-list {
		margin-bottom: 0;

		li {
			display: inline-block;
			a {

			}
		}
	}

	ul.applicant-nav {
		margin-top: 0;
		background: $yj-light-grey;
		border-radius: 3px;

		li {

			a {
				display: block;
				padding: 0.8rem 1rem;
				color: $yj-grey;
				@include transition(.2s);

				&:hover {
					background: $primary-color;
					color: white;
					@include transition(.2s);
				}
			}
		}

		a.interact-highlight {
			background: $primary-color;
			color: white;
		}

		a.applicant-nav-highlight {
			background: $error-color;
			color: white;

			&:hover {
				background: darken($error-color, 15%);
			}
		}

		.applicant-nav-active {
			color: white;
			background-color: $primary-color;
		}
	}

	p.nav-desc {
		margin-top: 0;
	}

	.applicant-list-container {
		padding: 2rem;
		border: 1px solid $yj-light-grey;
	}

	.dropdown-min-width {
		min-width: 160px;

		&.alt {
			min-width: 300px;
		}
	}

	ul.yj-contact-list {
		padding: 1rem;
		border: 1px solid $primary-color;
		border-radius: 3px;
		
		li {

			a {
				display: block;
				color: $primary-color;
				padding: 0.5rem 0;
				text-transform: uppercase;
				@include transition(.2s);

				&:hover {
					color: darken($primary-color, 15%);
					@include transition(.2s);
				}
			}
		}
	}

	ul.contact-details {
		// margin-top: 0;
		// margin-bottom: 3rem;

		li {
			display: inline-block;
			margin-left: 1rem;

			&:first-child {
				margin-left: 0;
			}

			a {
				display: block;
				padding: 0;
				font-size: 1.2rem;
				color: white;
				font-weight: 200;
				@include transition(.2s);

				&:hover {
					color: $primary-color;
					@include transition(.2s);
				}
			}
		}

		span, i {
			display: inline-block;
			width: 30px;
		}
	}

	ul.table-selects {
		li {
			display: inline-block;
		}
	}

	ul.unpublish-list {
		// padding: 0 0 2rem 0;

		li {
			padding-top: 0.3rem;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	ul.profile-hero-btn-list {

		li {
			display: inline-block;
		}
	}

	ul.star-list {
		margin-top: 0;

		li {
			display: inline-block;

			a {
				color: $yj-blue;
				@include transition(.2s);

				&:hover {
					color: darken($yj-blue, 15%);
					@include transition(.2s);
				}
			}
		}
	}

	.notification-li {

		a {

			span {
				font-weight: 500;

				&.notification-number {
					color: $primary-color;
				}
			}
		}
	}

	.go-cardless {
		font-size: 0.8rem;
		text-transform: uppercase;

		span {
			font-weight: 500;
		}
	}