	/*Forms*/

	.yj-form-group {
		margin-top: 20px;
	}

	.yj-form-btn {
		margin-top: 25px;
		display: block;
	}

	.results-stat {
		color: $primary-color;
	}

	.yj-pagination {
		float: right;

		li {
			&:last-child {
				padding-right: 0;
			}

			a {
				color: $yj-grey;
			}

			&.active {
				background: transparent;
				// border: 1px solid $primary-color;

				a {
					color: $primary-color;
				}
			}
		}

		@media #{$medium-and-down} {
			float: left;
			margin-bottom: 0;

			li {

				&:first-child {
					padding-left: 0;
				}
			}
		}

		&.alt {
			float: none;
			margin: 0;
		}
	}

	.post-form {
		margin-bottom: 80px;

		.yj-form {
			background-color: $yj-light-grey;
			padding: 2rem;

			.yj-default-select {
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				margin-bottom: 10px;
			}

			label.yj-label-fix {
				display: block;
				margin-bottom: 0.5rem;
			}
		}
	}

	.input-field-clean {
		padding-right: 0!important;
	}

	.input-field label {

		&.alt {
			left: 0;
		}
	}

	.yj-search-form-wrapper {
		padding: 1rem 1rem 0 1rem;
		margin-bottom: 2rem;
		border: 1px solid $yj-light-grey;
	}

	.yj-highlight-form-text {
		font-size: 1.2rem;
		font-weight: 400;
		color: $primary-color;
	}

	[type="radio"]:not(:checked) + label,
	[type="radio"]:checked + label {
	  position: relative;
	  padding-left: 35px;
	  cursor: pointer;
	  display: inline-block;
	  height: 25px;
	  line-height: 25px;
	  font-size: 1rem;
	  @include transition(.28s ease);

	  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
	  -moz-user-select: none; /* mozilla browsers */
	  -khtml-user-select: none; /* webkit (konqueror) browsers */
	  -ms-user-select: none; /* IE10+ */

	  &.yj-label {
	  	color: $yj-grey;
	  	font-weight: 400;
	  	font-size: 1.2rem;
	  }

	  &.yj-label-ugly {
	  	color: $yj-grey;
	  	font-weight: 400;
	  	font-size: 1.2rem;
	  }
	}

	.yj-label-group {
		margin-bottom: 2rem;

		// &:last-child {
		// 	margin-bottom: 0;
		// }

		.plan-price {
			color: $primary-color;
	  		font-size: 1.4rem;
			padding-left: 35px;

			span {
				font-weight: 500;
			}

			&.plan-price-ugly {
				color: $yj-grey;
			}
		}

		.plan-detail {
	  		font-size: 1rem;
			padding-left: 35px;
		}
	}

	.yj-switch {
		margin: 0 0 2rem 0;
	}

	.switch label .lever {
		background-color: $yj-light-grey;
	}

	.switch label .lever:after {
		background-color: $primary-color;
	}

	.switch label input[type=checkbox]:checked + .lever {
		background-color: $yj-light-grey;
	}

	.switch label input[type=checkbox]:checked + .lever:after {
		background-color: $yj-blue;
	}

	.collapse {
		display:none
	}

	.collapse.in{
		display:block
	}

	#deleteCard {
		display: none;
	}

	#nextPayment {
		display: none;

		span {
			font-weight: 500;
		}
	}

	.switch-text {
		span {
			color: $primary-color;
			font-weight: 500;
			font-size: 1.2rem;
		}
	}