	/*Buttons*/

	.yj-btn-global-sm {
		height: 30px;
		font-size: 0.8rem;
		line-height: 2.2rem;
		max-width: 90px;

		&.alt {
			margin-left: 10px;
		}

		&.lrg-max {
			max-width: 220px;
		}
	}

	.yj-btn-small {
		height: 40px;
		width: 140px;
		line-height: 1rem;

		&.yj-btn-small-alt {
			width: 100%;
		}
	}

	.yj-btn-md {
		line-height: 3.2rem;
		height: 45px;
	}

	.yj-btn-classy {
		background: transparent;
		border: 1px solid $primary-color;
		color: $primary-color;
		box-shadow: none;

		&:hover {
			background: $primary-color;
			color: white;
		}

		&.yj-btn-classy-lg {
			min-width: 200px;
		}
	}

	.yj-btn-green {
		background: $primary-color;

		&:hover {
			background: $primary-color-dark;
		}
	}

	.yj-btn-blue {
		background: $yj-blue;

		&:hover {
			background: darken($yj-blue, 15%);
		}
	}

	.yj-btn-red {
		background: $error-color;

		&:hover {
			background: darken($error-color, 15%);
		}
	}

	.yj-btn-facebook {
		background: $facebook;

		&:hover {
			background: darken($facebook, 15%);
		}
	}

	.yj-btn-google {
		background: $google;

		&:hover {
			background: darken($google, 15%);
		}
	}

	.yj-btn-linkedin {
		background: $linkedin;

		&:hover {
			background: darken($linkedin, 15%);
		}
	}

	.yj-btn-twitter {
		background: $twitter;

		&:hover {
			background: darken($twitter, 15%);
		}
	}

	.yj-btn-db {
		display: block;
	}

	.yj-btn-min-width {
		min-width: 180px;
	}

	.yj-btn-rsp {
		margin-top: 0;

		@media #{$medium-and-down} {
			margin-top: 10px;
		}
	}

	.yj-simple-link {
		color: $yj-blue;
		@include transition(.2s);

		&:hover {
			color: darken($yj-blue, 15%);
			@include transition(.2s);
		}

		&.alt {
			text-decoration: underline;
		}

		&.yj-simple-link-white {
			color: white;

			&:hover {
				color: $primary-color;
			}
		}
	}
	
	.yj-btn-signup-fix {
		margin-bottom: 0.4rem;
	}

	.yj-btn-margin-top {
		margin-top: 1.6rem;
	}

	.stat-btn {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.yj-btn-bulk-actions {
		height: 40px;
	}