	/*Forms*/

	.yj-form-group {
		margin-top: 20px;
	}

	.yj-form-btn {
		margin-top: 25px;
		display: block;
	}

	.results-stat {
		color: $primary-color;
	}

	.yj-pagination {
		float: right;

		li {
			&:last-child {
				padding-right: 0;
			}

			a {
				color: $yj-grey;
			}

			&.active {
				background: transparent;
				// border: 1px solid $primary-color;

				a {
					color: $primary-color;
				}
			}
		}

		@media #{$medium-and-down} {
			float: left;
			margin-bottom: 0;

			li {

				&:first-child {
					padding-left: 0;
				}
			}
		}

		&.alt {
			float: none;
			margin: 0;
		}
	}

	.post-form {
		margin-bottom: 80px;

		.yj-form {
			background-color: $yj-light-grey;
			padding: 2rem;

			.yj-default-select {
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				margin-bottom: 10px;
			}

			label.yj-label-fix {
				display: block;
				margin-bottom: 0.5rem;
			}
		}
	}

	.input-field-clean {
		padding-right: 0!important;
	}

	.input-field label {

		&.alt {
			left: 0;
		}
	}

	.yj-search-form-wrapper {
		padding: 1rem 1rem 0 1rem;
		margin-bottom: 2rem;
		border: 1px solid $yj-light-grey;
	}