	/*Hero*/

	.hero {
		position: relative;
		min-width: 100%;
		padding: 30px 0;
		background: url(images/landing-page.jpg) no-repeat center center;
		background-size: cover;

		&:after {
			content: "";
			background-color: black;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.4;
		}

		@media #{$small-and-down} {
			padding: 20px 0;
		}

		&.hero-blue {
			background: url(images/hero-busy-london-blue.jpg) no-repeat center center;
			background-size: cover;
		}

		&.hero-black {
			background: url(images/hero-busy-london-black.jpg) no-repeat center center;
			background-size: cover;
		}

		// &:after {
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	width: 100%;
		// 	content: "";
		// 	background: $primary-color;
		// 	opacity: 0.9;
		// 	z-index: -1;
		// }

		ul.hero-icons {
			margin-top: 7rem;
			margin-bottom: 0;

			li {
				display: inline-block;

				span {
					color: white;
					font-size: 48px;

					&.alt {
						font-size: 32px;
					}
				}

				&.arrows {
					margin: 0 15px;
				}
			}
		}

		p.hero-subtag {
			color: white;
			font-size: 1.4rem;
			font-weight: 300;

			&.alt {
				font-weight: 200;
				line-height: 2rem;
			}
		}

		&.hero-jobpage {
			background: url(images/cabana-hero.jpg) no-repeat center center;
			background-size: cover;

			.hero-place {
				font-weight: 200;
				color: white;

				@media #{$small-and-down} {
					font-size: 2rem;	
				}
			}

			.hero-blue-panel {
				width: 100px;
				margin-left: 8px;
				background: $yj-blue;
				padding: 15px;
				color: white;
				border-radius: 3px;

				p {
					margin: 8px 0 0 0;
				}
			}
		}

		&.hero-yap-team {
			background: url(images/yapteam.jpg) no-repeat center center;
			background-size: cover;

			span {
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		&.about-us-hero {
			background: url(images/about-us-hero.jpg) no-repeat center center;
			background-size: cover;

			span {
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		&.pricing-hero {
			background: url(images/pricing-hero.jpg) no-repeat center center;
			background-size: cover;

			span {
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		&.austin {
			background: url(images/austin.jpg) no-repeat center center;
			background-size: cover;
		}

		&.austin-black {
			background: url(images/austin-black.jpg) no-repeat center center;
			background-size: cover;
		}

		.notify-wrapper {
			background: white;
			padding: 2rem;

			.notify-padding {
				padding: 0 0.75rem;
			}
		}

		&.hero-profile {
			padding: 2rem;

			.yj-circle {
				border: 2px solid white;
			}

			ul {

				li {
					color: white;
				}

				&.hero-results {

					li {
						color: $primary-color;
					}
				}
			}

			.employee-name {
				color: white;
				font-weight: 200;
				font-size: 2rem;
				margin: 1rem 0;
			}

			.next-profile {
				margin-top: 5rem;

				a {
					color: white;
					@include transition(.2s);

					&:hover {
						color: $primary-color;
						@include transition(.2s);
					}
				}

				@media #{$small-and-down} {
					margin: 0.4rem 0;
				}
			}

			.currently-viewing {
				color: white;

				span {
					font-weight: 500;
				}
			}
		}
	}

	p.get-notified {
		font-weight: 500;
		font-size: 1.4rem;
		color: $yj-blue;
	}

	.profile-play {

		a {
			color: white;
			@include transition(.2s);

			&:hover {
				color: $primary-color;
				@include transition(.2s);
			}
		}
	}

	.yj-hero-container {
		z-index: 1;
	}