	/*Modals*/

	.yj-modal {
		max-width: 500px;

		.exit {
			margin-bottom: 1rem;

			.col {
				padding: 0;
			}

			p {
				margin: 0;
			}

			a {
				color: $yj-grey;
				@include transition(.2s);

				&:hover {
					color: $primary-color;
					@include transition(.2s);
				}
			}
		}

		.modal-btns {

			a {
				margin-top: 0.5rem;
				text-align: left;
			}

			i {
				min-width: 30px;
			}
		}

		.yj-modal-footer {

		}

		.modal-form {
			margin-top: 2rem;
			.col {
				padding-left: 1rem;

				&:first-child {
					padding-left: 0;
				}
			}

			.input-field {
				label {
					left: 0;
				}
			}
		}

		.p-terms {
			margin: 0;
		}

	}

	.modal-header {
		background: $primary-color;
		padding: 1rem;

		&.alt {
			margin-bottom: 2rem;
		}
	}

	.table-global-modal {
		max-width: 500px;

		h4 {
			margin-bottom: 2rem;
			font-weight: 200;
		}
	}

	.credit-amount {
		color: $primary-color;
		font-weight: 400;
		font-size: 1.2rem;
	}

	.modal-date-time-wrapper {
		margin-bottom: 2rem;
		border: 1px solid $yj-light-grey;
		padding: 1rem;
	}