	/*Nav*/

	.yj-nav {
		padding-right: 20px;
		box-shadow: none;

		a {
			color: $primary-color;

			&.yj-nav-btn {
				color: white;
				margin: 30px 15px 0 15px;
				height: 40px;
				width: 140px;
				line-height: 2.8rem;

				&:hover {
					color: white;
				}
			}
		}

		.close {

			&:hover {
				background: none;
			}

			i {
				line-height: inherit;
			}
		}

		.yj-icon-animate {

			&:hover {
				@include animation-name("nav-icon");
				@include animation(.3s);
			}
		}
	}

	.yj-sidenav {
		li {
			
			&.li-push {
				margin-top: 4rem;
			}

			&:hover {
				background: none;
			}

			a {
				@include transition(.2s);

				&:hover {
					color: darken($primary-color, 20%);
					@include transition(.2s);
				}
			}
		}
	}